{% extends "base.html" %}
{% from "_wtf.html" import form_field_input, form_field_submit, form_field_file%}
{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="m-5" >
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success" role="alert">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  {% if form_upload.file_upload.errors %}
  <div class="form-group">
      <div class="alert alert-danger mt-2" role="alert">
          {% for error in form_upload.file_upload.errors%}
                  {{error}}
          {% endfor %}
      </div>
  </div>
  {% endif %}
    <div class="btn-group" role="group">
      <!-- Botão para adicionar empresa -->
      <button class="button-color mb-2" data-toggle="modal" data-target="#modalCadastro">
          <i class="fa fa-plus"></i> Nova Empresa
      </button>
      <button class="button-color mb-2 ml-2" data-toggle="modal" data-target="#modalUploadFile">
        <i class="fa fa-plus"></i> Importar Notas/Débitos
      </button>
    </div>
    <h1 class="mb-4" style="text-align: center;">Empresas:</h1>
    <!-- Modal Cadastro -->
    <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Empresa</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ form.hidden_tag()}}
                    {{ form_field_input(form.fantasia)}}
                    {{ form_field_input(form.razao_social)}}
                    {{ form_field_input(form.cnpj)}}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        {{ form_field_submit(form.button_cadastrar)}}
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>

    <!-- Modal Upload File -->
    <div class="modal fade" id="modalUploadFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Importar Dados Financeiros</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >
              <form method="POST" enctype="multipart/form-data">
                {{form_upload.hidden_tag()}}
                <!-- <div class="m-5"> -->
                  {{form_field_input(form_upload.empresa)}}
                  {{form_field_file(form_upload.file_upload) }}
                <!-- </div> -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    {{form_field_submit(form_upload.submit)}}
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
    {% for empresa in empresas %}
    <ul class="list-group">
        <li class="list-group-item">CNPJ: {{ empresa.cnpj }} | Fantasia: {{ empresa['fantasia']}}</li>
    </ul>
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
  {{super()}}
  <!-- <script>
    var formErrors = {% if form.cnpj.errors %}true{% else %}false{% endif %};

    $(document).ready(function() {
    if (formErrors) {
        $('#modalCadastro').modal('show');
      }
    });
  </script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
{% endblock%}